
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div id="loading" style="display:none">
        <h2 class="text-center">please wait..</h2>
    </div>
    <div id="div_evoucherList">

        </div>

</div>

@section scripts{


    <script>
        var pagesize = 5;
        var page = 1;

        $(document).ready(function () {
            $("#loading").show();
            initPagingListView();
            GetList();
        });
        function initPagingListView() {
            $("#div_evoucherList").on("click", ".pagination-bx a", function (e) {
                $(window).scrollTop(700);
                //window.scrollTo(300, 200);

                e.preventDefault();
                var $a = $(this).attr("href");
                try {
                    var pageurl = $a.split(/=/);
                    page = pageurl[1];
                    if (page == null) {
                        page = 1;
                    }
                }
                catch (e) {
                    page = 1;
                }
                GetList();


            });
        }
        function GetList() {

            $.ajax({
                cache: false,
                url: '@Url.Action("evoucherlist", "Evoucher")',
                data: { pagesize: pagesize, page: page},
                beforeSend: function () {

                },
                success: function (result) {
                    $("#div_evoucherList").empty().append(result);

                    $("#loading").hide();
                },
                complete:function() {
                    //$(".pagination li").addClass("paginate_button page-item");
                    //$(".pagination a").addClass("page-link");
                }
            })
        }

        function Add() {
            location.href = "../Evoucher/Add";

        }
        function Edit(id) {
            location.href = "../Evoucher/Edit?id=" + id;
        }
        function IsActive(id) {
             $.ajax({
                cache: false,
                 url: '@Url.Action("IsActive", "Evoucher")',
                 data: {id:id},
                beforeSend: function () {

                },
                success: function (result) {
                    if (result = "Success") {
                        alert("Success");
                        location.reload();
                    }
                    else {
                        alert("fail");
                    }
                },
                complete: function () {

                }
            }) 
        }
       
        function Detail(id) {
            location.href = "../Evoucher/Detail?id=" + id;
        }

        function CheckOut(id) {
            location.href = "../Evoucher/CheckOut?id=" + id;
        }
    </script>
}

